.categories {
  background-color: #ffffff;
  margin-bottom: 10px;          /* spacing below */
  box-shadow: 0 1px 1px rgba(189, 184, 184, 0.1); /* box effect */
}

.categories-container {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 16px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.category-icon {
  font-size: 30px;
}

.category-text {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
}

.category-item:hover .category-text {
  color: #2874f0;
}
