/* OUTER NAVBAR */
.navbar {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  margin-bottom: 3px;
}

/* INNER CENTERED CONTAINER */
.navbar-container {
  max-width: 1240px;
  margin: auto;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 19px;
}

/* LEFT */
.navbar-left .logo {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: #2874f0;
  display: flex;
  flex-direction: column;
}

.plus {
  font-size: 12px;
  color: #9e9e9e;
}

/* CENTER SEARCH */
.navbar-center {
  display: flex;
  align-items: center;
  background-color: #f0f5ff;
  margin-left: 32px;
  padding: 8px 12px;
  border-radius: 8px;
  width: 500px;
}

.search-icon {
  margin-right: 8px;
  color: gray;
}

.navbar-center input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 18px;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 17px;
  cursor: pointer;
}
