.banner-slider {
  position: relative;
  height: 230px;
  overflow: hidden;
}

/* Banner Image */
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  font-size: 30px;
  padding: 6px 12px;
  cursor: pointer;
  z-index: 2;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}
